body {
    margin: 0;
    padding: 0;
    background-size: cover;
    width: 100vw;
}

h2 {
    width: 100%;
    text-align: center;
    color: #ffebcd;
    font-size: 30px;
    margin: 0;
    margin-top: 10px;
}

table {
    width: 80%;
    border-collapse: collapse;
    color: #ffebcd;
    padding: 5px 0;
    text-align: left;
    position: relative;
    box-sizing: border-box;
}

th {
    text-align: center;
    width: 20%;
    color: #ffebcd;
    border-bottom: 2px solid #ffebcd;
    padding: 10px 8px;
}

td {
    text-align: center;
    width: 20%;
    color: #ffebcd;
    padding: 9px 8px;
    transition: .3s linear;
}

tr:hover td {color: #ffd21f}

p {
    text-align: left;
    margin-left: 60px;
    margin-top: 30px;
    color: #ffebcd;
    font-size: 30px;
}

.header {
    width: 100%;
    height: 15vh;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    height: 100%;
    box-sizing: border-box;
}

.lang-button-box {
    display: flex;
    width: 600px;
    height: 50%;
    padding: 50px 2px 0px;
}

.lang-button {
    width: 40px;
    height: 25px;
    background: #ffd21f;
    border-radius: 4px;
    cursor: pointer;
}

.signIn-button, .join-us-button {
    width: 120px;
    height: 36px;
    background: #ffd21f;
    border-radius: 4px;
    cursor: pointer;
}

.join-us-button {
    width: 300px;
}

.sign-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    background-color: #23283a;
}

.welcome-text {
    color: #ffebcd;
    font-size: 28px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-container {
    padding: 3vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    color: #fff;
}

.main {
    width: 100%;
    height: 75vh;
    min-height: 75vh;
    background-color: #23283a;
}

.logIn-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    background-color: #23283a;
}

.logIn-form-box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.logIn-form-box-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-form-text, .login-form-password, .form-dropdown, .form-option {
    margin: 10px 0;
    background-color: #ffffff;
    border: 1px solid #ffd21f;
    border-radius: 4px;
    padding: 9px 11px;
    color: #23283a;
    width: 60%;
}

.form-label {
    align-self: flex-start;
    margin-left: 20%;
    color: #ffd21f;
    font-size: 20px;
}

.login-form-message {
    width: 60%;
    align-self: center;
    color: #ff1717;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.login-form-button {
    width: 60%;
    background: #ffd21f;
    border-radius: 4px;
    cursor: pointer;
    padding: 9px 11px;
    margin-top: 10px;
}

.common-button {
    width: 250px;
    background: #ffd21f;
    border-radius: 4px;
    cursor: pointer;
    padding: 9px 11px;
    margin-top: 10px;
}

.welcome-area, .welcome-main-text {
    color: #ffebcd;
    font-size: 18px;
}

.navigation-bar {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.input-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.user-area-form {
    width: 450px;
}

.user-area-label {
    width: fit-content;
    color: #ffd21f;
    font-size: 20px;
}

.change-pass-button {
    align-self: flex-end;
}

.table-container-body {
    height: 45.5vh;
    overflow-y: auto;
    padding-top: 0.5vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 15px 10px;
}

.table-container-body::-webkit-scrollbar {
    display: none;
}

.table-current-container-body {
    height: 45px;
    overflow-y: auto;
    padding-top: 0.5vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 15px 10px;
}

.table-container-head {
    height: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-table {
    height: 100%;
    margin: 0 auto;
    width: 60%;
}

.head-table {
    width: 60%;
}

.horizontal-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
}

.center-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    height: 10vh;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.footer-text {
    color: #23283a;
    font-size: 16px;
}

