body {
    margin: 0;
    padding: 0;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
}

.header {
    width: 100%;
    height: 15vh;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    height: 100%;
    box-sizing: border-box;
}

.lang-button-box {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: flex-start;
    width: 600px;
    height: 50%;
    padding: 14px 0px;
}

.lang-button {
    width: 40px;
    height: 25px;
    background: #ffd21f;
    border-radius: 4px;
    cursor: pointer;
}

.signIn-button, .join-us-button {
    width: 120px;
    height: 36px;
    background: #ffd21f;
    border-radius: 4px;
    cursor: pointer;
}

.join-us-button {
    width: 300px;
}

.sign-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    background-color: #23283a;
}

.welcome-text {
    color: #ffebcd;
    font-size: 28px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-container {
    padding: 3vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    color: #fff;
}

.main {
    width: 100%;
    height: 75vh;
    background-color: #23283a;
}

.logIn-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    background-color: #23283a;
}

.login-form {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-form-text, .login-form-password, .form-dropdown, .form-option {
    margin: 10px 0;
    background-color: #ffffff;
    border: 1px solid #ffd21f;
    border-radius: 4px;
    padding: 9px 11px;
    color: #23283a;
    width: 60%;
}

.form-label {
    align-self: flex-start;
    margin-left: 20%;
    color: #ffd21f;
    font-size: 20px;
}

.login-form-message {
    width: 60%;
    align-self: center;
    color: #ff1717;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.login-form-button {
    width: 60%;
    background: #ffd21f;
    border-radius: 4px;
    cursor: pointer;
    padding: 9px 11px;
    margin-top: 10px;
}

.common-button {
    width: 250px;
    background: #ffd21f;
    border-radius: 4px;
    cursor: pointer;
    padding: 9px 11px;
    margin-top: 10px;
}

.welcome-area {
    color: #ffebcd;
    font-size: 18px;
}

.navigation-bar {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.input-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-area-form {
    width: 450px;
}

.user-area-label {
    width: fit-content;
    color: #ffd21f;
    font-size: 20px;
}

.change-pass-button {
    align-self: flex-end;
}

.footer {
    width: 100%;
    height: 10vh;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.footer-text {
    color: #23283a;
    font-size: 16px;
}

