<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name> Exchange </display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>Error</servlet-name>
        <jsp-file>/jsp/error/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Main</servlet-name>
        <jsp-file>/jsp/main.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/jsp/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/jsp/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Register As</servlet-name>
        <jsp-file>/jsp/register-as.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register As</servlet-name>
        <url-pattern>/register-as</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Customer-register</servlet-name>
        <jsp-file>/jsp/customer/customer-register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Customer-register</servlet-name>
        <url-pattern>/customer-register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Customer-main</servlet-name>
        <jsp-file>/jsp/customer/customer-main.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Customer-main</servlet-name>
        <url-pattern>/customer-main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Customer-area</servlet-name>
        <jsp-file>/jsp/customer/customer-area.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Customer-area</servlet-name>
        <url-pattern>/customer-area</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Change-password</servlet-name>
        <jsp-file>/jsp/change-password.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Change-password</servlet-name>
        <url-pattern>/change-password</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Customer-balance</servlet-name>
        <jsp-file>/jsp/customer/customer-balance.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Customer-balance</servlet-name>
        <url-pattern>/customer-balance</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Customer-delivery</servlet-name>
        <jsp-file>/jsp/customer/customer-delivery.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Customer-delivery</servlet-name>
        <url-pattern>/customer-delivery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>New-order</servlet-name>
        <jsp-file>/jsp/customer/new-order.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>New-order</servlet-name>
        <url-pattern>/new-order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Confirm-order</servlet-name>
        <jsp-file>/jsp/customer/confirm-order.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Confirm-order</servlet-name>
        <url-pattern>/confirm-order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Rate</servlet-name>
        <jsp-file>/jsp/rate.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Rate</servlet-name>
        <url-pattern>/rate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Courier-register</servlet-name>
        <jsp-file>/jsp/courier/courier-register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Courier-register</servlet-name>
        <url-pattern>/courier-register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Courier-main</servlet-name>
        <jsp-file>/jsp/courier/courier-main.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Courier-main</servlet-name>
        <url-pattern>/courier-main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Courier-area</servlet-name>
        <jsp-file>/jsp/courier/courier-area.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Courier-area</servlet-name>
        <url-pattern>/courier-area</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Available-order</servlet-name>
        <jsp-file>/jsp/courier/available-order.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Available-order</servlet-name>
        <url-pattern>/available-order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Processing-order</servlet-name>
        <jsp-file>/jsp/courier/processing-order.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Processing-order</servlet-name>
        <url-pattern>/processing-order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Completed-order</servlet-name>
        <jsp-file>/jsp/courier/completed-order.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Completed-order</servlet-name>
        <url-pattern>/completed-order</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/jsp/error/error.jsp</location>
    </error-page>

    <description>MySQL</description>
    <resource-ref>
        <description>MySQL DB Connection Pool</description>
        <res-ref-name>jdbc/project_database</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>