<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="File" fileName="src/main/resources/logs/app.log" append="true"
                     filePattern="src/main/resources/logs/app_%i.log">
            <PatternLayout>
                <Pattern>%rms %-5level %logger{2} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="42 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%rms - %msg%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <Appender-ref ref="Console" level="info"/>
            <Appender-ref ref="File" level="trace"/>
        </Root>
    </Loggers>
</Configuration>